Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
name="prachi" #string
demo=[1,11,"ps",6.4,3.14,2+6j] #list
pi=3.14 #float
student=(12,"ps") #tuple

In [3]:
print("String variable : {} datatype : {}".format(name,type(name)))
print(f"List variable : {demo} datatype : {type(demo)}")
print("Float variable : {f1} datatype : {d1}".format(f1=pi,d1=type(pi)))
print("Tuple variable : {} datatype : {}".format(student,type(student)))

String variable : prachi datatype : <class 'str'>
List variable : [1, 11, 'ps', 6.4, 3.14, (2+6j)] datatype : <class 'list'>
Float variable : 3.14 datatype : <class 'float'>
Tuple variable : (12, 'ps') datatype : <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

A2.
(i) var1 = ‘ ‘ --> String
(ii) var2 = ‘[ DS , ML , Python]’ --> String
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] --> List
(iv) var4 = 1. --> Float

In [6]:
print(type(''))
print(type('[ DS , ML , Python]'))
print(type([ 'DS' , 'ML' , 'Python']))
print(type(1.))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

A3.
(i) / -> Division operator ; e.g. 11/5=2.2

(ii) % -> remainder operator ; returns the remainder after dividing 2 numbers ; e.g. 11%5 = 1

(iii) // --> Integer division ; returns floor value after the division of 2 numbers ; e.g. 11//5 = 2

(iv) ** --> exponent operator ; x**y returns x to the power of y ; e.g. 2**3(means 2*2*2) = 8

In [9]:
print(" Use of / : ",11/5)
print(" Use of % : ",11%5)
print(" Use of // : ",11//5)
print(" Use of ** : ",2**3)

 Use of / :  2.2
 Use of % :  1
 Use of // :  2
 Use of ** :  8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
sample=[2,25,6.833,"Prachi",'Data Science',['ios','android'],(50,'US'),4+5j,'Hello',{2:'ps'}]
print("Tne number of elements in my list : ",len(sample))

Tne number of elements in my list :  10

In [12]:
# Using loop to display the elements of list alongwith there datatype
for i in sample :
    print(f"Element : {i}, DataType : {type(i)}")

Element : 2, DataType : <class 'int'>
Element : 25, DataType : <class 'int'>
Element : 6.833, DataType : <class 'float'>
Element : Prachi, DataType : <class 'str'>
Element : Data Science, DataType : <class 'str'>
Element : ['ios', 'android'], DataType : <class 'list'>
Element : (50, 'US'), DataType : <class 'tuple'>
Element : (4+5j), DataType : <class 'complex'>
Element : Hello, DataType : <class 'str'>
Element : {2: 'ps'}, DataType : <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
A=[10,21,30,44,50]
B=5

for i in A:
    if(i%B==0):
        print(f"The number {i} is purely divisible by {B}")
    else :
        print(f"The number {i} is not purely divisible by {B} and the remainder is {i%B}")

The number 10 is purely divisible by 5
The number 21 is not purely divisible by 5 and the remainder is 1
The number 30 is purely divisible by 5
The number 44 is not purely divisible by 5 and the remainder is 4
The number 50 is purely divisible by 5

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
#generating list randomly 
import random 
sample_list=[]
for i in range(0,25):
    sample_list.append(random.randint(1,99999))
    
print(f"List is : {sample_list} \nlength of list is {len(sample_list)} ")

List is : [96591, 63857, 71911, 40914, 94154, 37241, 88269, 37280, 48927, 36584, 53378, 21971, 84355, 94295, 4494, 35, 10199, 46880, 41701, 72536, 12481, 12033, 79348, 41347, 34579]
length of list is 25

In [25]:
for i in sample_list :
    if (i%3==0):
        print(f"The number {i} is divisible by 3")
    else :
        print(f"The number {i} is not divisible by 3 and the remainder value is {i%3}")

The number 96591 is divisible by 3
The number 63857 is not divisible by 3 and the remainder value is 2
The number 71911 is not divisible by 3 and the remainder value is 1
The number 40914 is divisible by 3
The number 94154 is not divisible by 3 and the remainder value is 2
The number 37241 is not divisible by 3 and the remainder value is 2
The number 88269 is divisible by 3
The number 37280 is not divisible by 3 and the remainder value is 2
The number 48927 is divisible by 3
The number 36584 is not divisible by 3 and the remainder value is 2
The number 53378 is not divisible by 3 and the remainder value is 2
The number 21971 is not divisible by 3 and the remainder value is 2
The number 84355 is not divisible by 3 and the remainder value is 1
The number 94295 is not divisible by 3 and the remainder value is 2
The number 4494 is divisible by 3
The number 35 is not divisible by 3 and the remainder value is 2
The number 10199 is not divisible by 3 and the remainder value is 2
The number 46880 is not divisible by 3 and the remainder value is 2
The number 41701 is not divisible by 3 and the remainder value is 1
The number 72536 is not divisible by 3 and the remainder value is 2
The number 12481 is not divisible by 3 and the remainder value is 1
The number 12033 is divisible by 3
The number 79348 is not divisible by 3 and the remainder value is 1
The number 41347 is not divisible by 3 and the remainder value is 1
The number 34579 is not divisible by 3 and the remainder value is 1

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

A7. 
Mutable data type :-  Data type whose value can be changed without updating it's identity. for e.g. : List

ImMutable data type :-  Data type whose value cannot be changed without updating it's identity. for e.g. : string,tuple,int,float

In [28]:
# Mutable data type e.g. List

l=[4,6,8,10]
print(l,id(l))

[4, 6, 8, 10] 4524849856

In [29]:
# updated 2nd element of list 'l'
l[1]=36
print(l,id(l))

[4, 36, 8, 10] 4524849856

In [30]:
a=10.11
print(a,id(a))

10.11 4523965712

In [31]:
# when value of int variable 'a' is updated new object is created
a=12
print(a,id(a))

12 4451854992

In [32]:
s='prachi sharma'
print(s,id(s))

prachi sharma 4515112496

In [33]:
s='prachiiii sharmaaaa'
print(s,id(s))

prachiiii sharmaaaa 4510278960

In [34]:
s[1]='t'

TypeError: 'str' object does not support item assignment